@page "/groups/edit"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Academy_2.Components.Models
@inject IDbContextFactory<Academy_2.Data.Academy_2Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Group</h2>
<hr />
@if (Group is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Group" OnValidSubmit="UpdateGroup" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Group.group_id" value="@Group.group_id" />
                <div class="mb-3">
                    <label for="group_name" class="form-label">group_name:</label>
                    <InputText id="group_name" @bind-Value="Group.group_name" class="form-control" />
                    <ValidationMessage For="() => Group.group_name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="direction" class="form-label">direction:</label>
                    <br />
                    <InputSelect id="direction" @bind-Value="Direction">
                        @using (var context = DbFactory.CreateDbContext())
                        {
                            @foreach(var dir in context.Directions)
                            {
                                <option value="@dir.direction_id">@dir.direction_name</option>
                            }
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Group.direction" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="learning_days" class="form-label">learning_days:</label>
                    <div style="display:flex; flex-direction:column;border:1px solid gray;padding:5px;">
                        @foreach(var day in Learning_days_list)
                        {
                            <div style="display:flex; justify-content:space-between;">
                                <label for="@day.Name">@day.Name</label>
                                <input type="checkbox" id="@day.Name" @bind="@day.IsWorking" @bind:after="CalculateToLearningdays" />
                            </div>
                        }
                    </div>
                    <InputNumber id="learning_days" @bind-Value="Learning_days" class="form-control" />
                    <ValidationMessage For="() => Learning_days" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="start_time" class="form-label">Время начала:</label>
                    <InputDate id="start_time" @bind-Value="Group.start_time" Type="InputDateType.Time" class="form-control" />
                    <ValidationMessage For="() => Group.start_time" class="text-danger" />
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/groups">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int group_id { get; set; }

    [SupplyParameterFromForm]
    private Group? Group { get; set; }

    private List<DayInfo> Learning_days_list = new List<DayInfo>
    {
        new DayInfo { Name = "Понедельник", IsWorking = false },
        new DayInfo { Name = "Вторник", IsWorking = false },
        new DayInfo { Name = "Среда", IsWorking = false },
        new DayInfo { Name = "Четверг", IsWorking = false },
        new DayInfo { Name = "Пятница", IsWorking = false },
        new DayInfo { Name = "Суббота", IsWorking = false },
        new DayInfo { Name = "Воскресенье", IsWorking = false },
    };

    private class DayInfo
    {
        public string Name { get; set; }
        public bool IsWorking { get; set; }
    }

    byte direction;
    byte learning_days;
    public int Direction { get => direction; set => Group.direction = (direction = (byte)value); }
    public int Learning_days { get => learning_days; set => Group.learning_days = (learning_days = (byte)value); }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Group ??= await context.Groups.FirstOrDefaultAsync(m => m.group_id == group_id);

        if (Group is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        Direction = Group.direction;
        Learning_days = Group.learning_days;
        CalculateFromLearningdays(Learning_days);
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateGroup()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Group!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!GroupExists(Group!.group_id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/groups");
    }

    private bool GroupExists(int group_id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Groups.Any(e => e.group_id == group_id);
    }

    private void CalculateToLearningdays()
    {
        byte result = 0;
        for(int i =0; i < 7; i++)
        {
            if (Learning_days_list[i].IsWorking)
            {
                result |= (byte)(1 << i);
            }
        }
        Learning_days = result;
    }

    private void CalculateFromLearningdays(int days)
    {
        for(int i = 0; i < 7; i++)
        {
            if (days % 2 == 1)
                Learning_days_list[i].IsWorking = true;
            days = days/2;
		}
    }
}
